@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --light-blue: #F3F5FC;
    --dark-blue: #0A3871;
    --darker-blue: #072B61;
    --semi-light-blue: #D8DFE8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    background-color: var(--light-blue);
    padding: 3%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.principal {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.principal__traducao {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputTraducao {
    font-size: 2rem;
    border: none; /* 1px var(--dark-blue) solid; */
    border-radius: 20px;
    background-color: var(--light-blue);
    width: 100%;
    color: var(--dark-blue);
    padding: 12px;
    font-family: "Inter", sans-serif;
}

#inputTraducao:focus {
    outline: 0;
}

.main_resultado {
    box-sizing: border-box;
    background-color: #fff;
    float: right;
    height: 80vmax;
    width: 30vw;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.resultado {
    padding: 20% 2.5%;
    row-gap: 32px;
    text-align: center;
}

.resultado__unhidden {
    padding: 2% 2% 32% 2%;
    justify-content: flex-start;
    font-size: 1.5rem;
    text-align: left;
    word-break: break-word;
}

.resultado img {
    width: 80%;
    height: auto;
}

.resultado__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.resultado__botao__main {
    font-size: 1rem;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    text-decoration: none;
    color: var(--dark-blue);
    text-align: center;
    border: 1px solid var(--dark-blue);
    padding: 3% 2%;
    margin-bottom: 5%;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
}

.resultado__botao {
    display: none;
}

.resultado__botao__unhidden {
    display: flex;
}

.rodape {
    width: 100%;
    margin-top: 60%;
}

.rodape__aviso {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 5%;
}

.rodape__aviso__texto {
    font-size: 1rem;
    color: #495057;
}

.rodape__botoes {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
}

.rodape__botoes a {
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--dark-blue);
    padding: 3% 12%;
    border-radius: 24px;
}

.rodape__botoes #btnCriptografar {
    background-color: var(--dark-blue);
    color: #fff;
}

.rodape__botoes #btnCriptografar:hover {
    background-color: var(--darker-blue);
}

.rodape__botoes #btnDescriptografar {
    color: var(--dark-blue);
}

.rodape__botoes #btnDescriptografar:hover {
    background-color: var(--semi-light-blue);
}